body {
    background-color: green;
    color: white;
}

h1 {
    font-family: Impact, sans-serif;
    font-size: 80px;
}

h2, h3 {
    font-family: 'Comic Relief', sans-serif;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 36px;
}

p {
    font-family: Papyrus;
    font-size: 24px;
}

